html,
body {
  height: 100%;
}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  position: absolute;
  background: url(../public/images/CampMinder-Logo-Green.png);
  background-size: 25% 100%;
  background-repeat: no-repeat;
  background-position: center; 
  padding-top: 2%;
}

.upload {
  margin: auto;
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid green;
  padding: 5px;
  padding-top: 10%;
  padding-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1%;
}

